[submodule "packages/.dotfiles"]
	path = packages/.dotfiles
	url = https://github.com/polskiedev/.dotfiles.git
	branch = main
[submodule "packages/.polskie.sh"]
	path = packages/.polskie.sh
	url = https://github.com/polskiedev/.polskie.sh.git
	branch = main
[submodule "packages/.devapps"]
	path = packages/.devapps
	url = https://github.com/polskiedev/.devapps.git
	branch = main
